healthtrack_n8n_workflow.json
{
  "name": "HealthTrack Daily Readmission Alerts",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 7 * * *"
            }
          ]
        }
      },
      "id": "1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        180,
        320
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://raw.githubusercontent.com/Sunil-goose-key/FDE_Healthtrack/master/healthtrack_raw.csv",
        "options": {}
      },
      "id": "2",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        390,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const csvText = $json.body || '';\nconst lines = csvText.trim().split('\\n');\nif (!lines.length) {\n  return [{ json: { status: 'BLOCKED', missingPatientId: 0, missingReadmission: 0, sentinelBill: 0, message: 'Incoming file is empty.' } }];\n}\n\nconst headers = lines[0].split(',');\nconst idx = (key) => headers.indexOf(key);\nconst iPatient = idx('patient_id');\nconst iReadmit = idx('readmission_30d');\nconst iBill = idx('total_bill_usd');\nconst iDept = idx('department');\nconst iDischarge = idx('discharge_date');\nconst iAge = idx('age');\nconst iLos = idx('length_of_stay');\nconst iPrev = idx('prev_admissions_12m');\nconst iMeds = idx('num_medications');\n\nlet missingPatientId = 0;\nlet missingReadmission = 0;\nlet sentinelBill = 0;\n\nconst rows = [];\nfor (let r = 1; r < lines.length; r++) {\n  const cols = lines[r].split(',');\n  if (!cols[iPatient]) missingPatientId += 1;\n  if (!cols[iReadmit]) missingReadmission += 1;\n  if ((cols[iBill] || '').trim() === '-9999') sentinelBill += 1;\n  rows.push(cols);\n}\n\nif (missingPatientId > 0 || missingReadmission > 0 || sentinelBill > 0) {\n  return [{\n    json: {\n      status: 'BLOCKED',\n      missingPatientId,\n      missingReadmission,\n      sentinelBill\n    }\n  }];\n}\n\nconst now = new Date();\nconst yesterday = new Date(now.getFullYear(), now.getMonth(), now.getDate() - 1);\nconst ymd = yesterday.toISOString().slice(0, 10);\n\nconst riskRows = [];\nlet high = 0;\nlet medium = 0;\nlet low = 0;\n\nfor (const cols of rows) {\n  if ((cols[iDischarge] || '').trim() !== ymd) continue;\n\n  const age = Number(cols[iAge] || 0);\n  const los = Number(cols[iLos] || 0);\n  const prev = Number(cols[iPrev] || 0);\n  const meds = Number(cols[iMeds] || 0);\n  const dept = cols[iDept] || 'Unknown';\n\n  const deptWeight = {\n    'Cardiology': 0.12,\n    'Oncology': 0.14,\n    'Orthopedics': 0.09,\n    'Neurology': 0.1,\n    'General Medicine': 0.11\n  };\n\n  let p = 0.08 + (prev * 0.09) + (los >= 10 ? 0.08 : 0) + (meds >= 12 ? 0.06 : 0) + (age >= 75 ? 0.05 : 0) + (deptWeight[dept] || 0.08);\n  p = Math.min(0.95, Math.max(0.02, p));\n\n  let risk = 'Low';\n  if (p >= 0.65) risk = 'High';\n  else if (p >= 0.4) risk = 'Medium';\n\n  if (risk === 'High') high += 1;\n  else if (risk === 'Medium') medium += 1;\n  else low += 1;\n\n  if (risk !== 'High') continue;\n\n  const priority = prev >= 2 ? 'URGENT' : 'STANDARD';\n  const note = `Patient is High risk mainly due to prior admissions (${prev}) and length of stay (${los} days). Complete coordinator phone follow-up within 48 hours.`;\n\n  riskRows.push({\n    patient_id: cols[iPatient],\n    department: dept,\n    intervention_note: note,\n    alert_priority: priority,\n  });\n}\n\nconst urgentRows = riskRows.filter((r) => r.alert_priority === 'URGENT');\n\nif (!urgentRows.length) {\n  return [{\n    json: {\n      status: 'OK',\n      high,\n      medium,\n      low,\n      urgentCount: 0,\n      urgent_line: 'No URGENT patients today.'\n    }\n  }];\n}\n\nreturn urgentRows.map((row) => ({\n  json: {\n    status: 'OK',\n    high,\n    medium,\n    low,\n    urgentCount: urgentRows.length,\n    patient_id: row.patient_id,\n    department: row.department,\n    urgent_line: `\\u26a0\\ufe0f Patient ${row.patient_id} \\u2014 ${row.department} \\u2014 ${String(row.intervention_note).split('. ')[0]}.`\n  }\n}));"
      },
      "id": "3",
      "name": "Code - Data Gate and Risk Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.status }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "rightValue": "OK"
            }
          ]
        }
      },
      "id": "4",
      "name": "If status == OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        890,
        320
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "5",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1110,
        190
      ]
    },
    {
      "parameters": {
        "channel": "#care-coordination",
        "text": "=Daily readmission summary (previous-day discharges)\\nHigh: {{$json.high}}\\nMedium: {{$json.medium}}\\nLow: {{$json.low}}\\nURGENT count: {{$json.urgentCount}}\\n{{$json.urgent_line}}",
        "otherOptions": {}
      },
      "id": "6",
      "name": "Slack Care Coordination",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1330,
        190
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "n8n-nodes-base.httpHeaderAuth",
        "sendBody": true,
        "jsonBody": "{\"model\":\"gpt-4o-mini\",\"messages\":[{\"role\":\"user\",\"content\":\"Today's data feed is blocked. Missing patient IDs: {{$json.missingPatientId}}. Missing outcomes: {{$json.missingReadmission}}. Bad billing codes: {{$json.sentinelBill}}. Rewrite into 2 plain-language sentences for clinical ops.\"}],\"temperature\":0.2}",
        "options": {}
      },
      "id": "7",
      "name": "OpenAI Rewrite",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        430
      ]
    },
    {
      "parameters": {
        "channel": "#data-ops",
        "text": "=Data feed blocked. Missing patient IDs: {{$json.missingPatientId}}. Missing readmission outcomes: {{$json.missingReadmission}}. Invalid billing placeholders: {{$json.sentinelBill}}. HealthTrack automated alert.",
        "otherOptions": {}
      },
      "id": "8",
      "name": "Slack Data Ops",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1330,
        430
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code - Data Gate and Risk Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Data Gate and Risk Summary": {
      "main": [
        [
          {
            "node": "If status == OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If status == OK": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack Data Ops",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Slack Care Coordination",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Slack Care Coordination": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Rewrite": {
      "main": [
        [
          {
            "node": "Slack Data Ops",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}