healthtrack_n8n_workflow.json
{
  "name": "HealthTrack Daily Readmission Alerts",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 7 * * *"
            }
          ]
        }
      },
      "id": "1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [180, 320]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://raw.githubusercontent.com/Sunil-goose-key/FDE_Healthtrack/master/healthtrack_raw.csv",
        "options": {}
      },
      "id": "2",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [390, 320]
    },
    {
      "parameters": {
        "jsCode": "const csvData = $json.data || '';\nconst lines = csvData.trim().split('\\n');\n\nif (lines.length < 2) {\n  return [{\n    status: 'ERROR',\n    data_quality_issues: ['No data received'],\n    risk_summary: { high_risk: 0, medium_risk: 0, low_risk: 0, total_patients: 0 },\n    urgent_patients: [],\n    urgent_line: 'No data available.',\n    urgent_count: 0\n  }];\n}\n\nconst headers = lines[0].split(',').map(h => h.trim());\n\nconst rows = [];\nfor (let i = 1; i < lines.length; i++) {\n  const vals = lines[i].split(',');\n  const row = {};\n  headers.forEach((h, idx) => {\n    row[h] = vals[idx] !== undefined ? vals[idx].trim() : '';\n  });\n  rows.push(row);\n}\n\nlet missingPatientIds = 0;\nlet missingReadmission = 0;\nlet sentinelBills = 0;\n\nrows.forEach(r => {\n  if (!r.patient_id) missingPatientIds++;\n  if (!r.readmission_30d) missingReadmission++;\n  if (r.total_bill_usd === '-9999') sentinelBills++;\n});\n\nconst totalIssues = missingPatientIds + missingReadmission + sentinelBills;\nconst status = totalIssues > 0 ? 'BLOCKED' : 'OK';\n\nlet high = 0, medium = 0, low = 0;\nrows.forEach(r => {\n  const readmit = parseInt(r.readmission_30d);\n  if (readmit === 1) high++;\n  else low++;\n});\nmedium = rows.length - high - low;\n\nconst urgent = rows.filter(r => parseInt(r.readmission_30d) === 1);\n\nconst urgentLines = urgent.map((r, i) =>\n  `${i+1}. Patient ${r.patient_id || 'UNKNOWN'} | Age: ${r.age} | Dept: ${r.department} | Bill: $${r.total_bill_usd}`\n);\n\nconst output = {\n  status: status,\n  data_quality_issues: [\n    `Missing patient_ids: ${missingPatientIds}`,\n    `Missing readmission_30d: ${missingReadmission}`,\n    `Sentinel -9999 bills: ${sentinelBills}`\n  ],\n  risk_summary: {\n    high_risk: high,\n    medium_risk: medium,\n    low_risk: low,\n    total_patients: rows.length\n  },\n  urgent_patients: urgent,\n  urgent_line: urgent.length > 0\n    ? 'URGENT patients requiring immediate follow-up:\\n' + urgentLines.join('\\n')\n    : 'No URGENT patients today.',\n  urgent_count: urgent.length\n};\n\nreturn [output];"
      },
      "id": "3",
      "name": "Code - Data Gate and Risk Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 320]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.status }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "rightValue": "BLOCKED"
            }
          ]
        }
      },
      "id": "4",
      "name": "If status == BLOCKED",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [890, 320]
    },
    {
      "parameters": {
        "batchSize": 1,
        "batchField": "urgent_patients",
        "options": {}
      },
      "id": "5",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1110, 190]
    },
    {
      "parameters": {
        "channel": "#health-track-alerts",
        "text": "=*URGENT Patient Alert*\n• Patient: {{ $json.patient_id || 'UNKNOWN' }}\n• Age: {{ $json.age }}\n• Department: {{ $json.department }}\n• Total Bill: ${{ $json.total_bill_usd }}\n• Readmission Risk: {{ $json.readmission_30d == '1' ? 'HIGH' : 'Low' }}",
        "otherOptions": {}
      },
      "id": "6",
      "name": "Slack Care Coordination",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1330, 190]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "n8n-nodes-base.httpHeaderAuth",
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "{\"model\":\"gpt-4o-mini\",\"messages\":[{\"role\":\"user\",\"content\":\"Today's data feed is blocked. {{$json.data_quality_issues[0]}}. {{$json.data_quality_issues[1]}}. {{$json.data_quality_issues[2]}}. Total urgent patients: {{$json.urgent_count}}. Rewrite into 2 plain-language sentences for clinical ops.\"}],\"temperature\":0.2}",
        "options": {}
      },
      "id": "7",
      "name": "OpenAI Rewrite",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 430]
    },
    {
      "parameters": {
        "channel": "#health-track-alerts",
        "text": "={{ $json.choices ? $json.choices[0].message.content : 'HealthTrack daily check: Data quality PASSED - no data issues found.' }}",
        "otherOptions": {}
      },
      "id": "8",
      "name": "Slack Data Ops",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1330, 430]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{"node": "HTTP Request", "type": "main", "index": 0}]]
    },
    "HTTP Request": {
      "main": [[{"node": "Code - Data Gate and Risk Summary", "type": "main", "index": 0}]]
    },
    "Code - Data Gate and Risk Summary": {
      "main": [[{"node": "If status == BLOCKED", "type": "main", "index": 0}]]
    },
    "If status == BLOCKED": {
      "main": [
        [{"node": "Loop Over Items", "type": "main", "index": 0}],
        [{"node": "Slack Data Ops", "type": "main", "index": 0}]
      ]
    },
    "Loop Over Items": {
      "main": [
        [{"node": "Slack Care Coordination", "type": "main", "index": 0}],
        [{"node": "OpenAI Rewrite", "type": "main", "index": 0}]
      ]
    },
    "Slack Care Coordination": {
      "main": [[{"node": "Loop Over Items", "type": "main", "index": 0}]]
    },
    "OpenAI Rewrite": {
      "main": [[{"node": "Slack Data Ops", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}